.Column {
    display: inline-block;
    vertical-align: top;
    width: 225px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    background: #465362;
    color: #bfdbf7;
}

.Column__title {
    font-size: 18px;
    margin-bottom: 10px;
}